
.mapboton{
    cursor: pointer;
    box-shadow: 0 0 6px 1px;
    text-align: center;
    text-shadow:2px 3px 2px #363535;
    font-size: 1.3em;
    border-radius: 14px;
    border:2px solid #8aa08d;
    width: 70%;
    margin: 2% 15%;
    height: 15vh;
    background-image: url("../assets/images/images_Noticias_Diciembre3_y5jnn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.mapboton:hover{
    cursor: pointer;
    box-shadow: 0 0 3px 1px;
}
.mapboton span {
    color: #eaebe9;
    border-radius:5px;
    box-shadow:inset 0px 2px 42px 5px #000;
    font-size: 4rem;
}
.mapboton span:hover{
    color: #a2eb78;
    font-size: 4.1rem;
}
.mapa {
    border:20px solid #04040410;
    border-radius: 6px;
    box-shadow: inset 0 0 4px 5px #04040448;
    gap: 1rem;
    width: 85%;
    margin-left: 7%;
    padding: 5rem;
}
.map{
    display: none; 
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(41, 83, 41, 0.541) 0%, rgba(172, 236, 130, 0.658) 25%, rgba(41, 94, 28, 0.61) 100%);
    border:3px dotted #d8d8d8;
    box-shadow: inset 0 0 12px 1px #000;
    border-radius: 7px;
}

.mapa__info {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.mapa__title {
    color: var(--color-black);
    font-size: 2.4rem;
    font-weight: 600;
}

.mapa__description {
    color:var(--color-grey-200)
}
.ifr {
    width: 100%;
    height: 64vw;
}
.ifr2{
    width: 100%;
    height: 79vw;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width:50%;
    height: 80%;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: relative;
	left: 47%;
	text-align: center;
	top: 10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #ffa600; color:darkred; cursor: pointer;}
